<div class="ui center aligned header"><h1>Determine Your Bracket</h1></div>
<div class="ui sixteen wide page grid">
  <div class = "ui eight wide column">
    {{outlet 'teamone'}}
  </div>
  <div class="ui vertical divider">V.S.</div>
  <div class="ui eight wide column ">
    {{outlet 'teamtwo'}}
  </div>
</div>
